In [16]:
import pandas as pd
def dataset(csv):
    df = pd.read_csv("state_year.csv")
    df = df[df['Year']>2010]
    df = df[df['Year']<2019]
    df =df.reset_index()
    return df

In [17]:
df = dataset("state_year.csv")

In [18]:
def mergeWithLithiumPrice(df,csvFileName):
    df1 = pd.read_csv(csvFileName)
    df1.head()
    allyear = df['Year'].tolist()
    years = df1['Year'].tolist()
    prices = df1['Price'].tolist()
    temp = []
    for i in allyear:
        if i in years:
            index = years.index(i)
            price = prices[index]
            temp.append(price)
        else:
            temp.append('No dataset for lithium price')
    states =['ND','MN','IA','WI','MI','IL','MO','AR','LA','MS']
    df.loc[df['State'].isin(states)]
    statesPerYearInorder = []
    df['Lithium Price'] = temp
    df =df.reset_index()
    return df

In [19]:
mergeWithLithiumPrice(df,"li_price.csv")

,level_0,index,State,Year,Gasoline Price,Median Income,Population,Renewable Energy Use,Total Energy Use,Transportation Energy Use,Stations Opened,Lithium Price
0,0,2091,AK,2011,34.44,42931.0,722349.0,16078.0,6320.0,184555.0,NaN,946
1,1,2092,AL,2011,27.53,25082.0,4799642.0,255849.0,88995.0,474771.0,8.0,946
2,2,2093,AR,2011,27.86,23039.0,2941038.0,124987.0,47928.0,284546.0,18.0,946
3,3,2094,AZ,2011,27.70,30510.0,6473416.0,112203.0,74944.0,507324.0,27.0,946
4,4,2095,CA,2011,30.51,34073.0,37636311.0,834829.0,261942.0,2837040.0,163.0,946
...,...,...,...,...,...,...,...,...,...,...,...,...
403,403,2494,VT,2018,23.39,24599.0,624802.0,41537.0,5531.0,44530.0,34.0,185
404,404,2495,WA,2018,26.54,26881.0,7526793.0,937696.0,90006.0,653248.0,122.0,185
405,405,2496,WI,2018,22.42,26430.0,5809319.0,230846.0,70960.0,456953.0,28.0,185
406,406,2497,WV,2018,22.81,16464.0,1805953.0,45409.0,33647.0,192215.0,14.0,185
407,407,2498,WY,2018,22.56,23559.0,579054.0,51479.0,16865.0,115829.0,12.0,185

In [10]:
def mergeWithEVSalesData(df,csvFileName):
    state_year = pd.read_csv(csvFileName)
    df = pd.merge(state_year, df, on = ["State", "Year"])
    return df

In [11]:
mergeWithEVSalesData(df,"us_ev_salesdata.csv")

,Year,State,BEV sales,PHEV sales,Total,Gasoline Price,Median Income,Population,Renewable Energy Use,Total Energy Use,Transportation Energy Use,Stations Opened,Lithium Price
0,2011,AR,2,20,22,27.86,23039.0,2941038.0,124987.0,47928.0,284546.0,18.0,946
1,2011,IL,69,259,328,28.71,32857.0,12867783.0,313512.0,142886.0,985537.0,11.0,946
2,2011,IN,5,89,94,27.74,29475.0,6517250.0,222942.0,105818.0,581270.0,5.0,946
3,2011,IA,2,47,49,28.21,28663.0,3066772.0,668883.0,45655.0,307194.0,18.0,946
4,2011,LA,2,25,27,27.68,26312.0,4576244.0,112139.0,86369.0,622556.0,3.0,946
...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,2018,MN,1866,987,2853,21.92,26443.0,5608762.0,364063.0,68708.0,498716.0,58.0,185
84,2018,MS,113,118,231,20.47,16513.0,2982879.0,76541.0,50390.0,335769.0,13.0,185
85,2018,MO,1523,745,2268,20.71,21925.0,6125986.0,130773.0,82056.0,566088.0,28.0,185
86,2018,ND,50,45,95,22.66,21508.0,760062.0,208200.0,20670.0,136198.0,9.0,185
87,2018,WI,1168,788,1956,22.42,26430.0,5809319.0,230846.0,70960.0,456953.0,28.0,185